/*declaration des police*/
@font-face{
  font-family: "merriweather";
  src: url(../fonts/merriweather-Bold.ttf);
}
@font-face{
  font-family: "motion picture personal";
  src: url(../fonts/motion/MotionPicture_PersonalUseOnly.ttf);
}
@font-face{
  font-family: "montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
}

body {
  margin:0;
}

.no-point{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li { float: left; }
.affich{
  display: block;
  padding: 8px;
  background-color:#00BF9A;

}
.txt-center{text-align: center;}

.nav1 {
  display: block;
  text-align: center;
    padding-left: 200px;

}
.nav1>li a{
  font-family: montserrat, sans-serif;
  text-decoration: none;
  color: white;
  margin: 10px;


}
.nav{
  display: block;
  text-align: center;
 padding-left: 200px;
 margin-top: 20px;
 
}
.nav>li a{
  text-decoration: none;
  color:#8A8A8A;
  margin: 10px;
}

.ban-img{
  background: url(../img/fond-top.jpg)  no-repeat;
  height: 500px;
  background-size: cover;
  position: relative;
  margin-top: 20px;
}
.Deshi{
  color:#8A8A8A;
  font-family: 
  'motion picture personal';
  font-size: 70px;
}
.Mag{
  color:#00BF9A;
  font-family:'motion picture personal';
   font-size: 70px;

}
.bottom{
  background-color:#00BF9A;
  border-radius: 20px;
  color: white;
  padding: 9px 25px;
  margin-top: 150px;
  margin-left: 200px;

  text-align: center;text-decoration: none;
  display: inline-block;
  font-size:16px;
  font-family:'montserrat'; 


}
.text-h1{
  color: white;
  font-family: merriweather;
  font-size: 40px;
 margin-left: 200px;
 margin-top: 5px;
 margin-bottom: 0;


}
.text-h5{
  color: white;
  font-family:montserrat;
  font-size:10px;
  margin-left: 200px;
  margin-top: 0;


}

.cl-hr{
  width: 69%;
  margin: 0 auto;
  color:#8A8A8A;
}
.mar-div{
  margin-top: 10px;
}
.posi-img{
  width: 211px;
  height: 150px;
  background:url(../img/vignette.png) no-repeat;
  display: inline-block;
  margin: 0 12px;
}
.div-bloc{
  margin-top: 50px;
  position: relative;
  margin-left: 200px;
}
.color-white{
  color: white;
}
.right{
  right: 0;
  float: right;
  position: absolute;
  margin-bottom: 10px;

}
.p-mar{
  font-family: merriweather;
 padding-top: 50px;
  
}
