
                    <div class="wrap wrap--w1790">
                        <div class="container-fluid">
                            <div class="header__content">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="images/icon/logo-black.png" alt="Tatee" class="logo1"/>
                                    </a>
                                </div>
                                <div class="header__content-right">
                                    <nav class="header-nav-menu">
                                        <ul class="menu nav-menu">
                                            <li class="menu-item wh"><a href="index.html" class="navbar-link">Accueil</a></li>
                                            <li class="menu-item wh">
                                                <a href="apropos.html" class="navbar-link">Qui sommes nous?</a>
                                            </li>
                                            <li class="menu-item wh menu-item-has-children">
                                                <a href="#" class="navbar-link">Solution</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="technologie.html" class="navbar-link">Technologie</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="mat.html" class="navbar-link">Materiaux</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="avantage.html" class="navbar-link">Acier a froid</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item wh">
                                                <a href="rea.html" class="navbar-link">Realisations</a>
                                            </li>
                                            <li class="menu-item wh ">
                                                <a href="formation.html" class="navbar-link">Formation</a>
                                            </li>
                                            <li class="menu-item wh">
                                                <a href="contact.html" class="navbar-link">contactez nous</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="header-social">
                                        <ul class="list-social">
                                            <li class="list-social__item">
                                                <a class="ic-fb" href="#">
                                                    <i class="zmdi zmdi-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a class="ic-insta" href="#">
                                                    <i class="zmdi zmdi-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<script>
    // Active links
$(".navbar-link").each(function() {
    if (this.href == window.location.href) {
        $(this).addClass("active");
        }
    });

</script>