
                            <li class="menu-item ">
                                <a href="index.html">Accueil</a>
                            </li>
                            <li class="menu-item ">
                                <a href="apropos.html">Qui sommes nous?</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Solution</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="technologie.html">Technologie</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="mat.html">Materiaux</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="avantage.html">Acier formé à froid</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item ">
                                <a href="rea.html">Realisations</a>
                            </li>
                            <li class="menu-item ">
                                <a href="formation.html">Formation</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">contact</a>
                            </li>