*{
	margin: 0;
	padding: 0;
}
.left-logo{

  display: inline-block;
}
.butt{
  width: 120px;
  height:40px;
  padding: 5px;
  margin-top: 30px;
  background-color: #009c37;
  border: none;
  box-shadow: 2px 3px 6px #272525;
  color:white;
  font-weight: bold;
  border-radius: 6px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;

}
.depl-bloc{
	float: right;
	display: inline-block;
}
.fixe-div{
	width: 70%;
	margin: auto;
	padding: 10px 0;
}
/*.no-point{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  padding: 8px;
  background-color:#009c37;
  border-radius: 3px;
  clear: both;
}

li { 
	float: left;
	display: inline;
 }*/
 .nav-p{
 	background-color:#009c37;
 	height: 30px;
 	border-radius: 3px;
 }
 
 .center{
 	margin: auto;
 }
 
 .ln{
 	width: 50%;
 	padding-top: 7px;
 	padding-bottom: 7px;
 	font-family: 'Montserrat', sans-serif;
 	font-weight: bold;
 	clear: both;

 }
[type="text"]{
	border: none;
	
}
.enreg{
	 width: 400px;
	 background-color: white;
	 opacity: 0.8;
	 margin: auto;
	 padding: 10px;
	 border-radius: 20px;

}
.langue{
            color:#fff;
            position: relative;
            text-shadow: 20px 20px 200px black;
            display: inline-block;

}
 .display-i{
 	display: inline;
 }
 .display-b{
 	display: block;
 }
 .display-ib{
 	display: inline-block;
 }
 select{
  width: 100px;
  height:30px;
  padding: 5px;
  margin-top: 30px;
  background-color: #009c37;
  border: none;
  box-shadow: 2px 3px 6px #272525;
  color:white;
  font-weight: bold;
  border-radius: 6px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
 }
 legend{
 	margin-bottom: 15px;
 	font-size: 30px;
 	font-weight: bold;
 	color:white;
 	padding: 15px 0;

 }

 .form1{

 	padding:80px;
 	width: 400px;
 	text-align:center;
 	font-family: 'Comfortaa', cursive;
 	clear: both;
 }
li{
 	display: inline-block;
 }
a{
text-decoration: none;
color: white;
  margin: 10px;
}
.center-div{
	margin: 0 auto;
	width: 100px;
}
.font{
	background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../img/ga.jpg);;
	height: 536px;
	background-size: 100%;

}
